"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Creator:
"       Cristian A. Cardellino
"       https://crscardellino.github.io
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" =======
" General
" =======

" <leader> and <localleader>
let mapleader = ","
let maplocalleader = "\\"

" ==============
" Edition & Text
" ==============

" insert newline character
nmap <c-o> O<esc>j

" insert newline
nnoremap <cr> a<cr><esc>k$

" allow backspacing over everything in insert mode
set backspace=indent,eol,start

" ======
" Moving
" ======

" treat long lines as break lines (useful when moving around in them)
map j gj
map k gk

" Smart way to move between windows
map <c-j> <c-w>j
map <c-k> <c-w>k
map <c-h> <c-w>h
map <c-l> <c-w>l
